@import 'base'
@import 'layout'
@import 'modules'
@import 'themes'

/* HELPERS */
debug(color = red)
    border: 1px solid color

/* FONTS */
$font-lato = 'Lato', sans-serif
$font-rale = 'Raleway', sans-serif
$font-passion = 'Passion One', 'Impact', sans-serif

/* COLOURS */
$base-grey = #959595
$base-grey-light = #c1c1c1
$base-grey-dark = #7f7f7f

$brand-blue = #00b3ea

$title-color-dark = $base-grey-dark
$title-color-light = $base-grey-light

/* MEDIA QUERIES */
media_queries = {
    mobile  : "only screen and (max-width: 600px)",
    tablet  : "only screen and (min-width: 601px) and (max-width: 800px)",
    desktop : "only screen and (min-width: 801px)"
}

for_breakpoint(breakpoints)
    conditions = ()
    for breakpoint in breakpoints
        push(conditions, media_queries[breakpoint])
    conditions = join(", ", conditions)
    @media conditions
        {block}


/* BASE */
*
    margin: 0
    padding: 0
    box-sizing: border-box

h1
    font-size: 2rem
h2
    font-size: 2.5rem
h3
    font-size: 1.5rem

ul
    list-style-type: none

section
header
    padding 1.5rem

/* GRID */
.flex-grid
    display: flex
.col-4-lg
    flex: 4
.col-8-lg
    flex: 8


.main-container
    background-image: url(../images/bg-mobile-header.png)
    background-size: 100%
    background-repeat: no-repeat
    +for_breakpoint(desktop)
        background: none

/* HEADER */
.site-header
    height: 270px
    +for_breakpoint(desktop)
        background-image: none

.site-title
    width: 175px
    font-family: $font-lato
    text-transform: uppercase
    padding-top: 90px
    &--a
        color: $base-grey
    &--b
        color: $base-grey-light


/* BODY */
.main-body
    .logo
        padding: 3rem 0 2rem 0
    p
        font-family: $font-rale
        color: $base-grey
        margin-bottom: 1em
    & span
        color: $brand-blue

/* SIDEBAR */
.main-sidebar
    background: url(../images/background.jpg)
    background-size: cover
    +for_breakpoint(mobile tablet)
        display: none

/* BUTTONS */
.button
    font-size: 1.125rem // 8px
    font-family: $font-rale
    font-weight: bold
    text-transform: uppercase
    color: $brand-blue
    padding .75em 1em
    background-color: transparent
    text-align: right
    display: inline-block
    &--vision
        border: 1px solid $brand-blue
        width: 100%

/* SOCIAL */
.social-section
    +for_breakpoint(desktop)
        position: absolute
        top: 48%
        left: 40%
        li
            margin-right: 1rem
.list
    &--social
        display: flex
        justify-content: space-between

/* ICONS */
.icon
    &--social svg
        height: 70px
        & .cls-1
            transition: 200ms
            transition-timing-function: ease-inout
        &:hover .cls-1
            fill: #0f414c



/* SERVICES */
.services
    font-family: $font-passion
    font-size: 1.5rem
    text-transform: uppercase
    color: $base-grey
    & li
        padding-left: .5em
        margin-bottom: .25em
    & li:nth-child(1)
        border-left: 8px solid #f49436
    & li:nth-child(2)
        border-left: 8px solid #d40b8a
    & li:nth-child(3)
        border-left: 8px solid #8ec966
    & li:nth-child(4)
        border-left: 8px solid #b31f43

/* CONTACT US */
.contact
    font-family: $font-rale
    margin-bottom: 1em
    h2
        font-family: $font-lato
        font-weight: 600
        text-transform: uppercase
        color: $base-grey-dark
        margin-bottom: .5em
    a
        font-size: 1.25rem
        margin-bottom: 1rem
        text-decoration: none
        color: $brand-blue
        line-height: 1.75em

.address a
    font-size: 1.25rem
    font-family: $font-rale
    line-height: 1.75em
    color: $base-grey
    text-decoration: none

/* FOOTER */
.site-footer
    height: 130px
    overflow: hidden
    font-family: $font-rale
    & .copyright
        color: $brand-blue
    &-image
        border-top: 6px solid $brand-blue
        background-image: url(../images/bg-mobile-footer.jpg)
        background-size: cover
        height: 300px
        +for_breakpoint(desktop)
            display: none

/* VIMEO MODAL */
.modal
    &--container
        position: relative
        height: 0
        width: 100%
        padding-bottom 56.25%
        // overflow hidden
        visibility: hidden
        opacity: 0
        transition: opacity .5s
        z-index: 10

        & iframe,
        & object,
        & embed
            position absolute
            top 0
            left 0
            width 100%
            height 100%

        +for_breakpoint(desktop)
            position: fixed
            width: 960px
            height: 538px
            max-width: 100%
            padding-bottom: 0
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)

    &:before
        content: ""
        position: fixed
        visibility: hidden
        opacity: 0
        background-color: rgba(0,0,0,.8)
        top: 0
        left: 0
        height: 100%
        width: 100%
        transition: opacity .5s
        z-index: 10

    &:target &--container,
    &:target:before
        visibility: visible
        opacity: 1

    &--close
        position: absolute
        top: -23px
        right: 0
        padding: 0
        color: $brand-blue
        font-family: $font-rale
        font-size: .75rem
        text-decoration: none
        z-index: 10
        border: 1px solid $brand-blue
        padding: .5em
        text-align: center
        line-height: 0.78
        +for_breakpoint(tablet mobile)
            top: initial
            bottom: -23px

