@import 'base'
@import 'layout'
@import 'modules'
@import 'themes'

font-lato = 'Lato', sans-serif
font-rale = 'Raleway', sans-serif
font-passion = 'Passion One', cursive

h1
  font-family: font-lato

p
  font-family: font-rale

.services
  font-family: font-passion

ul
  list-style-type: none

footer
  img
    border-top: 4px solid cyan
