doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Yakkazoo
    meta(name='msapplication-tap-highlight', content='no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='application-name', content='Web Starter Kit')
    link(rel='icon', sizes='192x192', href='images/touch/chrome-touch-icon-192x192.png')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-mobile-web-app-title', content='Web Starter Kit')
    link(rel='apple-touch-icon', href='images/touch/apple-touch-icon.png')
    meta(name='msapplication-TileImage', content='images/touch/ms-touch-icon-144x144-precomposed.png')
    meta(name='msapplication-TileColor', content='#2F3BA2')
    meta(name='theme-color', content='#2F3BA2')
    link(rel="stylesheet", href="styles/main.css")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Lato:900|Passion+One|Raleway:500,600")
    script(src="https://player.vimeo.com/api/player.js")
  body
    .main-container
        .flex-grid
            .col-4-lg
                include ../partials/modal.pug
                block content
                include ../partials/footer.pug
            sidebar.col-8-lg.main-sidebar
                include ../partials/social-icons

    block scripts
    script(src="scripts/main.js")
