/* ICONS */
.icon
    &--social svg
        height: 4.375rem
        & .cls-1
            transition: 200ms
            transition-timing-function: ease-inout
            fill: $icon-light
        &:hover .cls-1
            fill: $icon-dark
.main-sidebar .icon
    &:hover
        .cls-1
            fill: white
        .cls-3
            fill: $icon-light
