/* ICONS */
.icon
    &--social svg
        height: 4.375rem
        & .cls-1
            transition: 200ms
            transition-timing-function: ease-inout
        &:hover .cls-1
            fill: #0f414c
.main-sidebar .icon
    .cls-1
        fill: #0f414c
    &:hover .cls-1
        fill: $brand-blue
