/* SERVICES */
.services
    font-family: $font-passion
    font-size: 1.5rem
    text-transform: uppercase
    color: $base-grey
    margin-top: 2.5rem
    & li
        padding-left: .5em
        margin-bottom: .25em
    & li:nth-child(1)
        border-left: 8px solid #f49436
    & li:nth-child(2)
        border-left: 8px solid #d40b8a
    & li:nth-child(3)
        border-left: 8px solid #8ec966
    & li:nth-child(4)
        border-left: 8px solid #b31f43
