section.contact-us
    .contact
        h2 contact us
        a(href="mailto:hello@yakkazoo.com")
            .icon.icon--mail
            |hello@yakkazoo.com
        a(href="tel:+61296985675")
            .icon.icon--mail
            |+61 (02) 9698 5675

    .address
        a(target="_blank", href="https://goo.gl/maps/nGpbwqw6AiH2")
            ul
                li Suite 2, 17 Thurlow Street
                li Redfern, NSW. 2016
                li Australia
