section
    .contact
        h2 contact us
        a(href="mail:hello@yakkazoo.com")
            .icon.icon--mail
            |hello@yakkazoo.com
        a(href="phone:+61 (02) 9698 5657")
            .icon.icon--mail
            |+61 (02) 9698 5657

    .address
        ul
            li Suite 2, 17 Thurlow Street
            li Redfern, NSW. 2016
            li Australia
