header.site-header
    //- img(src="../../images/bg-mobile-header.png", alt="")
    h3.site-title
        .site-title--a
            | Experience(d)
            | designers
        .site-title--b
            | of places
            | and spaces

