section.main-body
    .logo
        img(src="../../images/logo.png", alt="")
    p Yakkazoo is a new kind of creative counsel, joining the dots between people, place and purpose.

    p Place-making and content specialists - where the physical and digital environments merge, creating integrated brand experiences both permanent and temporary.

    p
        |You want different.
        span  We are different

    .button-group
        a.button.button--vision#modal-open(href="#video-modal")
            span.icon.icon--play
            |our vision
        a.button.button--contact(href="#contact-modal")
            span.icon.icon--mail
            |contact us


    .services
        ul
            li environments
            li planning
            li integrated technologies
            li content

section.social-section.social-section--mobile
    include ./social-icons
