section.social-section
  ul.list--social
    li: a(href="#")
        .icon.icon--social
            include ../../images/icons/icon_behance.svg
    li: a(href="#")
        .icon.icon--social
            include ../../images/icons/icon_vine.svg
    li: a(href="#")
        .icon.icon--social
            include ../../images/icons/icon_pinterest.svg
    li: a(href="#")
        .icon.icon--social
            include ../../images/icons/icon_linkedin.svg
