ul.list--social
    li: a(target="_blank", href="https://www.behance.net/Yakkazoo")
        .icon.icon--social
            include ../../images/icons/icon_behance.svg
    li: a(target="_blank", href="https://vimeo.com/yakkazoo")
        .icon.icon--social
            include ../../images/icons/icon_vimeo.svg
    li: a(target="_blank", href="https://www.pinterest.com/We_Are_Yakkazoo/")
        .icon.icon--social
            include ../../images/icons/icon_pinterest.svg
    li: a(target="_blank", href="https://www.linkedin.com/company/13181802?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A13181802%2Cidx%3A1-1-1%2CtarId%3A1478735561540%2Ctas%3AYakkazoo")
        .icon.icon--social
            include ../../images/icons/icon_linkedin.svg
