section.social-section
  ul.list--social
    li: a(href="#")
        img.icon.icon--social(src="../../images/icons/icon_behance.svg", alt="behance profile")
    li: a(href="#")
        img.icon.icon--social(src="../../images/icons/icon_vine.svg", alt="vine profile")
    li: a(href="#")
        img.icon.icon--social(src="../../images/icons/icon_pinterest.svg", alt="pinterest profile")
    li: a(href="#")
        img.icon.icon--social(src="../../images/icons/icon_linkedin.svg", alt="linkedin profile")
    include ../icons/icon-behance.html
