.player--container
    a.modal--close#modal-close(href="#") x
    //- iframe#vimeo-player(src='http://player.vimeo.com/video/187136326', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
    #vimeo-player
