/* CONTACT US */
.contact
    font-family: $font-rale
    margin-bottom: 1em
    h2
        font-family: $font-lato
        font-weight: 600
        text-transform: uppercase
        color: $base-grey-dark
        margin-bottom: .5em
    a
        font-size: 1.25rem
        margin-bottom: 1rem
        text-decoration: none
        color: $brand-blue
        line-height: 1.75em

.address a
    font-size: 1.25rem
    font-family: $font-rale
    line-height: 1.75em
    color: $base-grey
    text-decoration: none
