/* SIDEBAR */
.main-sidebar
    background: url(../images/background.jpg) no-repeat center center fixed
    background-size: cover
    padding: 0 1.5rem
    height: 100vh
    +for_breakpoint(mobile)
        display: none
