/* SIDEBAR */
.main-sidebar
    background: url(../images/background_wide.jpg) no-repeat
    background-size: cover
    background-position: 0 0
    padding: 0 1.5rem
    height: 100vh
    +for_breakpoint(mobile)
        display: none
