/* SOCIAL */
.social-section
    .list
        &--social
            display: flex
            justify-content: space-between
    &--mobile
        +for_breakpoint(tablet desktop)
            display: none
    &--large
        +for_breakpoint(tablet desktop)
            position: absolute
            padding-top: 180px
            top: 20%
            width: 20rem
