/* SOCIAL */
.social-section
    .list
        &--social
            display: flex
            justify-content: space-between
    &--mobile
        +for_breakpoint(tablet desktop)
            display: none
    &--large
        +for_breakpoint(tablet desktop)
            position: absolute
            padding-top: 180px
            top: 35%
            width: 20rem
        +for_breakpoint(xl)
            top: 45%
